html {
    position: static;
    min-height: 100%;
}

body {
	background-color: #9B9D9A;
	position: relative;
}

h1 {
    color: #FFEF8E;
    font-size: 72pt;
    font-family: 'Martel', serif;
    font-weight: 900;
    display: inline;
}

h2 {
    color: #FFEF8E;
    font-size: 40pt;
    font-family: 'Martel', serif;
    font-weight: 300;
    margin-top: 20px;
    text-align: center;
}

h3 {
    color: rgba(164, 233, 192, 0.5);
    font-size: 24pt;
    font-family: 'Martel', serif;
    font-weight: 900;
    margin-bottom: 20px;
}

h4 {
    color: rgba(255, 239, 142, 0.86);
    font-size: 14pt;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-style: italic;
    margin-left: 10px;
    display: inline;
}

#main {
    position: relative;
    margin: 0 auto;
    width: 1025;
    height: 100%
    
}

#hero {
    position: relative; 
    height: 472px; 
    max-width: 1025px;
    min-width: 1025px;
    margin-top: 50px;

}

#heroimage {
    background-image: url("images/hero.jpg");
    width: 1025px;
    height: 472px;
    z-index: 1;
    position: absolute;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    border-radius: 10px;


}

#herotext {
    position: relative;
    margin: 0 auto;
    width: 758;
    top: 60px;
    z-index: 9999;
} 

#name {
    position: relative;
}

#helps {
    position: relative;
    left: 640px;
    top: -10px;
}

#posts {
    position: relative;
    border-radius: 10px;
    top: 50px;
    width: 800;
    margin: 0 auto;
    background-color: rgba(52, 124, 109, 0.56);
    
}

#footer {
    position: absolute;;
    bottom: -160;
    right: 0;
    text-align: right;

}

#footertext {
    color: rgba(255, 255, 255, 0.6);
    size: 12pt;
    font-family: 'Cabin', sans-serif;
    font-weight: 400; 
}

.post {
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 700;
}
.post::before {
    position: absolute;
    content: '';
    width: 500px;
    height: 0px;
    top: -.5px;
    left: 150px;
    border-bottom-style: dashed;
    border-width: .5px;
    border-color: rgba(255, 255, 255, 0.73);
}

.firstpost {
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 700;
}

.title {
    color: rgba(255, 255, 255, 0.95);
    font-size: 16pt;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    text-decoration: none; 
}

.summary {
    font-family: 'Cabin', sans-serif; 
    color: rgba(255, 255, 255, 0.73);
    font-size: 14pt;
    font-weight: 400; 
    margin-top: 6;
    margin-bottom: 6;
}

.more {
    font-family: 'Cabin', sans-serif; 
    color: rgba(255, 255, 255, 0.75);
    font-size: 14pt;
    font-weight: 600; 
    text-decoration: underline;
}
    

.tags {
    display: inline-block; 
    margin: 4px;
    margin-left: 8px;
    color: rgba(255, 255, 255, 0.4);
    size: 14pt;
    font-family: 'Cabin', sans-serif;
    font-weight: 400; 
}

.sig {
    color: rgba(255, 255, 255, 0.7);
    size: 20pt;
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    text-decoration: none; 
}
