body {
	background-color: #131712;
	background-image: url("images/hero.jpg");
	background-repeat: no-repeat;
	background-position: center top;
}

h1 {
    color: #FFEF8E;
    size: 36pt;
    font-family: 'Martel', serif;
    font-weight: 900;
}

h2 {
    color: #FFEF8E;
    size: 36pt;
    font-family: 'Martel', serif;
    font-weight: 600;
}

h4 {
    color: rgba(255, 239, 142, 0.86);
    size: 20pt;
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
}


table {
}


td {
	padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

#intro {
    text-align: left;
    margin: 0 auto;
    width: 497px;
    position: relative;
    top: 106px;
}

#

#hero {
}

#main {
}


#trees {
    
