html {
    position: relative;
    min-height: 100%;
}

body {
	background-color: #9B9D9A;
	position: relative;
}

h1 {
    color: #FFEF8E;
    font-size: 64pt;
    font-family: 'Martel', serif;
    font-weight: 900;
    display: inline;
}

h2 {
    color: #FFEF8E;
    font-size: 36pt;
    font-family: 'Martel', serif;
    font-weight: 600;
}

h3 {
    color: rgba(164, 233, 192, 0.5);
    font-size: 24pt;
    font-family: 'Martel', serif;
    font-weight: 900;
    margin-bottom: 20px;
}

h4 {
    color: rgba(255, 239, 142, 0.86);
    font-size: 14pt;
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
    font-style: italic;
    margin-left: 10px;
    display: inline;
}

#main {
    position: relative;
    width: 1025;
    margin: 0 auto;
}

#heroimage {
    position: relative; 
    margin: 0 auto;
    background-image: url("images/hero.jpg");
    width: auto;
    height: 472px; 
    max-width: 1025px;
    min-width: 1025px;
    padding-top: 50px;
    margin-top: 50px;
}

#herotext {
    position: relative;
    margin: 0 auto;
    width: 758;
    top: 60px;
} 

#posts {
    position: relative;
    border-radius: 10px;
    top: 50px;
    width: 800;
    margin: 0 auto;
    padding-bottom: 50px;
    background-color: rgba(52, 124, 109, 0.56);
}

#footer {
    position: absolute;;
    bottom: -160;
    right: 0;
    text-align: right;

}

#footertext {
    color: rgba(255, 255, 255, 0.6);
    size: 12pt;
    font-family: 'Cabin', sans-serif;
    font-weight: 400; 
}

.post {
    position: relative;
    padding: 50px;
    padding-bottom: 0px;
    width: 700;

}

.title {
    color: rgba(255, 255, 255, 0.95);
    font-size: 16pt;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    text-decoration: none; 
}

.summary {
    font-family: 'Cabin', sans-serif; 
    color: rgba(255, 255, 255, 0.73);
    font-size: 14pt;
    font-weight: 400; 
    margin-top: 6;
    margin-bottom: 6;
}

.more {
    font-family: 'Cabin', sans-serif; 
    color: rgba(255, 255, 255, 0.75);
    font-size: 14pt;
    font-weight: 600; 
    text-decoration: underline;
}
    

.tags {
    display: inline-block; 
    margin: 4px;
    margin-left: 8px;
    color: rgba(255, 255, 255, 0.4);
    size: 14pt;
    font-family: 'Cabin', sans-serif;
    font-weight: 400; 
}

.sig {
    color: rgba(255, 255, 255, 0.7);
    size: 20pt;
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
    text-decoration: none; 
}
